<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>SignUp page</h1>
    <div>
        <form action="/user" method="POST">
            <label for="name" >full Name</label>
            <input type="text" required name="name">

            <label for="email" >Email</label>
            <input type="text" required name="email">

            <label for="password" >Password</label>
            <input type="text" required name="password">

            <button type="submit">SignUp</button>
        </form>
    </div>
</body>
</html>